table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.notion {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}