h2 {
    color: green;
    font-style: italic;
}

.TextField {
    margin: 5px 0px 5px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}