services:
  mongo:
    image: mongo
    restart: unless-stopped
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: niizuki
      MONGO_INITDB_ROOT_PASSWORD: kzxmduxnbuvijkxihexi
